<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541970973785-pqe067iqujler77n1l2h09h0h5d3gac2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541970973785-pqe067iqujler77n1l2h09h0h5d3gac2</string>
	<key>API_KEY</key>
	<string>AIzaSyDkS_Xp31RgnxIy2Mof-PYyyvwsyaxOStE</string>
	<key>GCM_SENDER_ID</key>
	<string>541970973785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.copdApp</string>
	<key>PROJECT_ID</key>
	<string>copd-app-0210</string>
	<key>STORAGE_BUCKET</key>
	<string>copd-app-0210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541970973785:ios:7e6510775b497566de1d48</string>
	<key>DATABASE_URL</key>
	<string>https://copd-app-0210-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>